<div class="row d-flex justify-content-center">
    <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px">
        <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10">
            <form method="post" action="" class="form w-100" novalidate="novalidate" id="kt_sign_in_form">
                <div class="text-center mt-10 mb-11">
                    <h1 class="text-gray-900 fw-bolder">Création d'un compte</h1>
                </div>
                <div class="row mb-5">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" name="prenom" id="prenom" placeholder="Prénom" class="form-control" id="floatingInput" />
                            <label for="prenom">Prénom</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" name="nom" id="nom" placeholder="Nom" class="form-control" id="floatingInput" />
                            <label for="nom">Nom</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-5">
                    <input type="text" name="email" id="email" placeholder="Adresse email" class="form-control" id="floatingInput" />
                    <label for="email">Adresse email</label>
                </div>
                <div class="form-floating mb-5">
                    <input type="password" name="password" id="password" placeholder="Mot de passe" class="form-control" id="floatingInput" />
                    <label for="password">Mot de passe</label>
                </div>
                <div class="form-floating mb-10">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Mot de passe" class="form-control" id="floatingInput" />
                    <label for="confirmPassword">Confirmation du mot de passe</label>
                </div>
                <div class="d-grid mb-10">
                    <button type="submit" class="btn btn-info">Créer un compte</button>
                </div>
            </form>
        </div>
    </div>
</div>