<div id="kt_app_footer" class="app-footer align-items-center justify-content-between">
    <div class="text-gray-900 order-2 order-md-1">
        <span class="text-muted fw-semibold">&copy; 2024 - GAME HAVEN</span>
    </div>
    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link px-2">Mentions légales</a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link px-2">CGU</a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link px-2">CGV</a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link px-2">Politique de confidentialité</a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link px-2">Cookies</a>
        </li>
    </ul>
</div>