<!-- Titre -->
<div class="mb-18">
    <div class="mb-10">
        <div class="text-center mb-15">
            <h2 class="fs-2hx text-gray-900 mb-5">Bienvenue sur le Blog de Game Haven !</h2>
            <div class="fs-5 text-gray-800 fw-semibold">Retrouvez les articles de jeux qui vous intéressent !</div>
        </div>
    </div>
</div>
<!-- / Titre -->

<!-- Catégorie Nintendo -->
<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-2 py-lg-4">
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <div class="d-flex flex-column align-items-start me-3 gap-2">
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3 animate__animated animate__slideInUp">Articles en rapport avec Nintendo</h1>
        </div>
    </div>
</div>
<!-- / Catégorie Nintendo -->
<!-- Carousel Articles Nintendo Web -->
<div id="carouselArticlesNintendoWeb" class="carousel slide d-none d-md-block mb-20 animate__animated animate__slideInUp">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
        <div class="carousel-item">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 4</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 4</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 5</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 5</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
        <div class="carousel-item">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 7</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 7</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticlesNintendoWeb" data-bs-slide="prev">
        <img src="assets/img/flaticon/precedent.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticlesNintendoWeb" data-bs-slide="next">
        <img src="assets/img/flaticon/suivant.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- / Carousel Articles Nintendo Web -->
<!-- Carousel Articles Nintendo Mobile -->
<div id="carouselArticlesNintendoMobile" class="carousel slide d-lg-none mb-20 animate__animated animate__slideInUp">
    <div class="carousel-inner">
        <!-- Article -->
        <div class="carousel-item active">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
        <!-- Article -->
        <div class="carousel-item">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
        <!-- Article -->
        <div class="carousel-item">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticlesNintendoMobile" data-bs-slide="prev">
        <img src="assets/img/flaticon/precedent.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticlesNintendoMobile" data-bs-slide="next">
        <img src="assets/img/flaticon/suivant.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- / Carousel Articles Nintendo Mobile -->

<!-- Catégorie Sony -->
<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-2 py-lg-4">
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <div class="d-flex flex-column align-items-start me-3 gap-2">
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3 animate__animated animate__slideInUp">Articles en rapport avec Sony</h1>
        </div>
    </div>
</div>
<!-- / Catégorie Sony -->
<!-- Carousel Articles Sony Web -->
<div id="carouselArticlesSonyWeb" class="carousel slide d-none d-md-block mb-20 animate__animated animate__slideInUp">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
        <div class="carousel-item">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 4</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 4</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 5</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 5</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
        <div class="carousel-item">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 7</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 7</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticlesSonyWeb" data-bs-slide="prev">
        <img src="assets/img/flaticon/precedent.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticlesSonyWeb" data-bs-slide="next">
        <img src="assets/img/flaticon/suivant.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- / Carousel Articles Sony Web -->
<!-- Carousel Articles Sony Mobile -->
<div id="carouselArticlesSonyMobile" class="carousel slide d-lg-none mb-20 animate__animated animate__slideInUp">
    <div class="carousel-inner">
        <!-- Article -->
        <div class="carousel-item active">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
        <!-- Article -->
        <div class="carousel-item">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
        <!-- Article -->
        <div class="carousel-item">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticlesSonyMobile" data-bs-slide="prev">
        <img src="assets/img/flaticon/precedent.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticlesSonyMobile" data-bs-slide="next">
        <img src="assets/img/flaticon/suivant.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel Articles Sony Mobile -->

<!-- Catégorie Microsoft -->
<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-2 py-lg-4">
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <div class="d-flex flex-column align-items-start me-3 gap-2">
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3 animate__animated animate__slideInUp">Articles en rapport avec Microsoft</h1>
        </div>
    </div>
</div>
<!-- / Catégorie Microsoft -->
<!-- Carousel Articles Microsoft Web -->
<div id="carouselArticlesMicrosoftWeb" class="carousel slide d-none d-md-block mb-20 animate__animated animate__slideInUp">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
        <div class="carousel-item">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 4</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 4</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 5</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 5</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
        <div class="carousel-item">
            <!-- Ligne -->
            <div class="row d-flex justify-content-center g-10">
                <div class="col-md-1"></div>
                <!-- Article -->
                <div class="col-md-3">
                    <div class="card-xl-stretch me-md-6">
                        <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                            <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                <i class="ki-duotone ki-eye fs-2x text-white"></i>
                            </div>
                        </a>
                        <div class="m-0">
                            <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 7</a>
                            <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 7</div>
                            <div class="fs-6 fw-bold">
                                <span class="text-gray-700">Tom BRUAIRE</span>
                                <span class="text-muted">- 25/11/2024 11:38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <!-- Article -->
                <div class="col-md-3"></div>
                <!-- / Article -->
                <div class="col-md-1"></div>
            </div>
            <!-- / Ligne -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticlesMicrosoftWeb" data-bs-slide="prev">
        <img src="assets/img/flaticon/precedent.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticlesMicrosoftWeb" data-bs-slide="next">
        <img src="assets/img/flaticon/suivant.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- / Carousel Articles Microsoft Web -->
<!-- Carousel Articles Microsoft Mobile -->
<div id="carouselArticlesMicrosoftMobile" class="carousel slide d-lg-none mb-20 animate__animated animate__slideInUp">
    <div class="carousel-inner">
        <!-- Article -->
        <div class="carousel-item active">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
        <!-- Article -->
        <div class="carousel-item">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
        <!-- Article -->
        <div class="carousel-item">
            <div class="row d-flex justify-content-center g-10">
                <div class="card-xl-stretch me-md-6">
                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" routerLink="/article">
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                            <i class="ki-duotone ki-eye fs-2x text-white"></i>
                        </div>
                    </a>
                    <div class="m-0">
                        <a routerLink="/article" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                        <div class="fs-6 fw-bold">
                            <span class="text-gray-700">Tom BRUAIRE</span>
                            <span class="text-muted">- 25/11/2024 11:38</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticlesMicrosoftMobile" data-bs-slide="prev">
        <img src="assets/img/flaticon/precedent.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArticlesMicrosoftMobile" data-bs-slide="next">
        <img src="assets/img/flaticon/suivant.png" class="h-50px" alt="Icon">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel Articles Microsoft Mobile -->

<!-- Bouton : Publier un article -->
<div class="row d-flex justify-content-center">
    <div class="col-auto">
        <a routerLink="/connexion" class="btn btn-lg btn-primary animate__animated animate__slideInUp">Publier un article</a>
    </div>
</div>
<!-- / Bouton : Publier un article -->