<!-- Titre -->
<div class="mb-18">
    <div class="mb-10">
        <div class="text-center mb-15">
            <h2 class="fs-2hx text-gray-900 mb-5">Bienvenue sur le Blog de Game Haven !</h2>
            <div class="fs-5 text-gray-800 fw-semibold">Retrouvez les articles de jeux qui vous intéressent !</div>
        </div>
    </div>
</div>
<!-- / Titre -->

<!-- Catégorie -->
<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-2 py-lg-4">
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <div class="d-flex flex-column align-items-start me-3 gap-2">
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3">Nintendo</h1>
        </div>
    </div>
</div>
<!-- / Catégorie -->
<!-- Articles Catégorie -->
<div class="mb-16">
    <!-- Ligne -->
    <div class="row g-10 mb-10">
        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <!-- / Ligne -->
    <!-- Ligne -->
    <div class="row g-10 mb-10">
        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 4</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 4</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 5</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 5</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 6</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 6</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <!-- / Ligne -->
</div>
<!-- / Articles Catégorie -->

<!-- Catégorie -->
<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-2 py-lg-4">
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <div class="d-flex flex-column align-items-start me-3 gap-2">
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3">Sony</h1>
        </div>
    </div>
</div>
<!-- / Catégorie -->
<!-- Articles Catégorie -->
<div class="mb-16">
    <!-- Ligne -->
    <div class="row g-10 mb-10">
        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <!-- / Ligne -->
    <!-- Ligne -->
    <div class="row g-10 mb-10">
        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 4</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 4</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 5</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 5</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 6</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 6</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <!-- / Ligne -->
</div>
<!-- / Articles Catégorie -->

<!-- Catégorie -->
<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-2 py-lg-4">
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <div class="d-flex flex-column align-items-start me-3 gap-2">
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3">Microsoft</h1>
        </div>
    </div>
</div>
<!-- / Catégorie -->
<!-- Articles Catégorie -->
<div class="mb-16">
    <!-- Ligne -->
    <div class="row g-10 mb-10">
        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 1</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 1</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 2</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 2</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 3</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 3</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <!-- / Ligne -->
    <!-- Ligne -->
    <div class="row g-10 mb-10">
        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 4</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 4</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 5</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 5</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->

        <!-- Article -->
        <div class="col-md-4">
            <div class="card-xl-stretch me-md-6">
                <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="article.html">
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/img/article/600x400/600x400.jpg')"></div>
                    <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                        <i class="ki-duotone ki-eye fs-2x text-white"></i>
                    </div>
                </a>
                <div class="m-0">
                    <a href="article.html" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base">Article 6</a>
                    <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3 mb-5">Description Article 6</div>
                    <div class="fs-6 fw-bold">
                        <span class="text-gray-700">Tom BRUAIRE</span>
                        <span class="text-muted">25/11/2024 11:38</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Article -->
    </div>
    <!-- / Ligne -->
</div>
<!-- / Articles Catégorie -->

<!-- Bouton : Publier un article -->
<div class="row d-flex justify-content-center">
    <div class="col-auto">
        <a href="connexion.html" class="btn btn-lg btn-primary">Publier un article</a>
    </div>
</div>
<!-- / Bouton : Publier un article -->